

<div class="container">
  <div class="row">
    <h1 class="text-center"><b>Welcome<small> to a world of Stories</small></b></h1>
    <h3 class="text-center">Indulge into a world of amazing imaginations set forth by our ingenius writers.</h3>
    <h3 class="text-center">Read and comment your reviews to provide feedback to the writers.</h3>
    <h3 class="text-center">Follow your favourite writers to stay updated with their recent compilations.</h3>
    <h3 class="text-center">Write and share your own creative text with the world.</h3>
  </div>
</div>
